<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
       <!-- Logo and site name -->
       <a class="navbar-brand" href="/home">
        <img id="logo" src="assets/images/logo.png" alt="logo" width="100" height="40">
        ESAY SURVEYS
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col mt-2">
      <h2 class="text-center">Information of the survey you chose</h2>
      <table class="table table-bordered table-striped p-2">
        <thead>
          <tr>
            <th>Survey</th>
            <th>Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Question 1</th>
            <th>Question 2</th>
            <th>Question 3</th>
            <th>Question 4</th>
            <th>Question 5</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="surveyInfo.lines.length == 0">
            <td colspan="4" class="text-center">
              No survey is chosen
            </td>
          </tr>
          <tr *ngFor="let line of surveyInfo.lines">
            <td>{{line.survey.title}}</td>
            <td>{{line.survey.type}}</td>
            <td>{{line.survey.startdate}}</td>
            <td>{{line.survey.enddate}}</td>
            <td>{{line.survey.q1}}</td>
            <td>{{line.survey.q2}}</td>
            <td>{{line.survey.q3}}</td>
            <td>{{line.survey.q4}}</td>
            <td>{{line.survey.q5}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <div class="text-center">
      <button class="btn btn-secondary m-1" routerLink="/answer"
              [disabled]="surveyInfo.lines.length == 0">
       Answer
      </button>
    </div>
  </div>
</div>
