<div class="container-fluid">
  <div class="row">
      <div class="col bg-dark text-white">
          <!-- Logo and site name -->
      <a class="navbar-brand" href="/home">
        <img id="logo" src="assets/images/logo.png" alt="logo" width="100" height="40">
        ESAY SURVEYS
      </a>
      </div>
  </div>
  <div class="row mt-2">
      <div class="col-3">
          <button class="btn btn-outline-info btn-block"
                  routerLink="/admin/main/surveys"
                  routerLinkActive="active">
              Surveys
          </button>
          <button class="btn btn-outline-info btn-block"
                  routerLink="/admin/main/answers"
                  routerLinkActive="active">
              Answers
          </button>
          <button class="btn btn-outline-danger btn-block" (click)="logout()">
              Logout
          </button>
      </div>
      <div class="col-9">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
